.banner{
    position: relative;
    background-image:url("https://up.yimg.com/ib/th?id=OIP.0WSwZk0xz4jmE-WGeaBjzwHaEL&pid=Api&rs=1&c=1&qlt=95&w=174&h=98");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white; 
}

.nav-bar{
    position: absolute;
    top: 0;
    width: 100%;
    background: gray;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: solid;
}

.nav-bar a:hover{
    text-decoration: underline;
}

.banner-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}